Xft.dpi: 96
Xft.antialias: true      
Xft.hinting: true
Xft.rgba: rgb 
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

rofi.show-icons: true

URxvt.perl-ext-common: config-reload,resize-font
URxvt*scrollTtyOutput: true   
URxvt.scrollBar: false
URxvt*scrollTtyKeypress: true

URxvt.font: xft:RobotoMono Nerd Font Mono:size=10
